{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

 {% block stylesheets %}
     {{ parent() }}
 {% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('style') }}
{% endblock %}

{% block body %}
    {% set route_name = app.request.attributes.get('_route') %}
    <div class="wrapper text-center">

            <table class="table noborder">
                <tr>
                    <th>
                        <a href="{{ path('ajouter') }}">
                            <button class="colorblue mdl-button mdl-button--raised mdl-button--colored">
                            <img class="img-responsive" src="{{ asset('images/carnet.png') }}" alt="Image" width="32" height="32">
                               Nouvelle note
                            </button>
                        </a>
                    </th>
                    <th>
                        <a href="{{ path ('ajouter_recolte', {id: 0}) }}">
                            <button class="colorrose mdl-button mdl-button--raised mdl-button--colored">
                                <img class="img-responsive" src="{{ asset('images/ajout_recolte.png') }}" alt="Image" width="32" height="32" >
                                Nouvelle récolte
                            </button>
                        </a>
                    </th>
                </tr>
            </table>

            <table class="table noborder">
                <tr>
                    <th>
                        <img src="{{ asset('images/icon_tri.png') }}" alt="Image" width="20" height="20">
                    </th>
                    <th>
                        {% if route_name == 'home' or route_name == 'home_full' %}
                            <a class="filtre noir_fonce" href="{{ path('home') }}" style="color:#a69b97;">
                                Tous
                            </a>
                        {% else %}
                            <a class="filtre" href="{{ path('home') }}" style="color:#a69b97;" >
                                Tous
                            </a>
                        {% endif %}
                    </th>
                    <th>
                        {% if route_name == 'home_photo' %}
                            <a class="filtre noir_fonce" href="{{ path('home_photo') }}" style="color:#a69b97">
                                Photos
                            </a>
                        {% else %}
                            <a class="filtre" href="{{ path('home_photo') }}" style="color:#a69b97;" >
                                Photos
                            </a>
                        {% endif %}
                    </th>
                    <th>
                        {% if route_name == 'home_amis' %}
                            <a class="filtre noir_fonce" href="{{ path('home_amis') }}" style="color:#a69b97;" >
                                Amis
                            </a>
                        {% else %}
                            <a class="filtre" href="{{ path('home_amis') }}" style="color:#a69b97" >
                                Amis
                            </a>
                        {% endif %}
                    </th>
                </tr>
            </table>

        <div id="content">

            {% if mosaique is defined %}
                {{ include('home/_content_mosaique.html.twig')}}
            {% else %}
                {{ include('home/_content.html.twig')}}
            {% endif %}

        </div>
    </div>
{% endblock %}
