{% extends 'base.html.twig' %}
{% block title %}Ajout dépense{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% form_theme form with [_self, 'bootstrap_4_layout.html.twig'] %}

{% block body %}
<div class="wrapper" style="margin-top:1rem;">
    <div class="gg-details">
        <div class="gg-details-content">

            <div class="gg-section-title" style="text-align:left; padding-top:0; margin-bottom:1rem;">
                🛒 Nouvelle dépense
            </div>

            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="gg-form-group">
                <div>
                    <label class="gg-form-label">Type</label>
                    {{ form_widget(form.achat.type, {'attr': {'class': 'gg-form-input'}}) }}
                </div>
                <div>
                    <label class="gg-form-label">Description</label>
                    {{ form_widget(form.achat.descritpion, {'attr': {'class': 'gg-form-input'}}) }}
                </div>
                <div>
                    <label class="gg-form-label">Quantité</label>
                    {{ form_widget(form.achat.quantite, {'attr': {'class': 'gg-form-input'}}) }}
                </div>
                <div>
                    <label class="gg-form-label">Prix unitaire (€)</label>
                    {{ form_widget(form.achat.prix, {'attr': {'class': 'gg-form-input'}}) }}
                </div>
            </div>

            <div style="margin-top:1.25rem;">
                {{ form_widget(form.submit, {'attr': {'class': 'gg-action-btn btn-depense gg-submit-btn', 'style': 'width:100%; justify-content:center; border:none; cursor:pointer; font-size:1rem; font-family:inherit;'}}) }}
            </div>

            {{ form_widget(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
</div>
{% endblock %}
