{% extends 'base.html.twig' %}

{% block title %}Ajout achats{% endblock %}

{% block javascripts %}
      {{ parent() }}
{% endblock %}

{% block stylesheets %}
      {{ parent() }}
{% endblock %}

{% form_theme form with [
      _self,
      'bootstrap_4_layout.html.twig'
] %}

{% block body %}
    <div class="wrapper text-center">
        <div class="row cadre_blanc_no_border">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <br/>
            <table class="table table_ajout">
                <tr>
                    <th>Type</th>
                    <td class="text-right">{{ form_widget(form.achat.type, {'attr': {'class': 'task_field'}}) }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td class="text-right">{{ form_widget(form.achat.descritpion, {'attr': {'class': 'task_field'}}) }}</td>
                </tr>
                <tr>
                    <th>Qté</th>
                    <td class="text-right">{{ form_widget(form.achat.quantite, {'attr': {'class': 'task_field'}}) }}</td>
                </tr>
                <tr>
                    <th>Prix (unitaire)</th>
                    <td class="text-right">{{ form_widget(form.achat.prix, {'attr': {'class': 'task_field'}}) }}</td>
                </tr>
            </table>
            <br/>
            <br/>
            <div class="row cadre_post">
                {{ form_label(form.submit, "Enregistrer") }}
                {{ form_widget(form.submit) }}
            </div>
            <br/><br/>
            {{ form_widget(form._token) }}
            {{ form_end(form,{'render_rest': false}) }}
        </div>
    </div>
{% endblock %}

