{% extends 'base.html.twig' %}
{% block title %}Ajouter une note{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% form_theme form with [_self, 'bootstrap_4_layout.html.twig'] %}

{% block body %}
<div class="wrapper" style="margin-top:1rem;">
    <div class="gg-details">
        <div class="gg-details-content">

            <div class="gg-section-title" style="text-align:left; padding-top:0; margin-bottom:1rem;">
                📓 Nouvelle note
            </div>

            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="gg-form-group">
                <div>
                    <label class="gg-form-label">Description</label>
                    {{ form_widget(form.post.description, {'attr': {'class': 'gg-form-input', 'rows': 4, 'style': 'height:auto;'}}) }}
                    {{ form_errors(form.post.description) }}
                </div>

                <div class="upload-image-strip">
                    <button type="button" class="gg-action-btn btn-note file-select-button"
                            style="display:inline-flex; width:auto; border:none; cursor:pointer; font-family:inherit;">
                        <span class="btn-icon">📷</span>
                        <span class="btn-label name-file">Ajouter une image</span>
                    </button>
                    {{ form_widget(form.post.photos) }}
                </div>
            </div>

            <div style="margin-top:1.25rem;">
                {{ form_widget(form.submit, {'attr': {'class': 'gg-action-btn btn-note gg-submit-btn', 'style': 'width:100%; justify-content:center; border:none; cursor:pointer; font-size:1rem; font-family:inherit;'}}) }}
            </div>

            {{ form_widget(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
</div>

<script>
    $('.file-select-button').click(function(){
        $(this).closest('.upload-image-strip').find('input').click();
    });
    $('.upload-image-strip input').on('change', function(e) {
        let filename = e.target.value.split('\\').pop();
        let nf = $(this).closest('.upload-image-strip').find('.name-file');
        if (filename.length > 12) {
            let extension = filename.split('.').pop();
            nf.text(filename.substr(0, 12) + '... .' + extension);
        } else if (filename.length > 0) {
            nf.text(filename);
        }
    });
</script>
{% endblock %}
