{% extends 'base.html.twig' %}

{% block javascripts %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock %}

{% block title %}Ajouter récolte{% endblock %}
{% form_theme form with [
    _self,
    'bootstrap_4_layout.html.twig'
] %}
{% block body %}
<br/>
<div class="wrapper text-center">
    <div class="row cadre_blanc_no_border">
    {{ form_start(form) }}
    <table  class="table table_ajout" >
        <tr>
          <th >Espèce</th>
          <td class="text-right">{{ form_widget(form.consommable , {'attr': {'class': 'task_field select2auto'}}) }}</td>
        </tr>
        <tr>
          <th>Culture</th>
          <td class="text-right">{{ form_widget(form.methode , {'attr': {'class': 'task_field'}}) }}</td>
        </tr>
        <tr>
          <th>Qté</th>
          <td class="text-right">{{ form_widget(form.quantity , {'attr': {'class': 'task_field'}}) }}{{ form_errors(form.quantity) }}</td>
        </tr>
    </table>
      {{ form_end(form) }}
</div>
</div>

    <script>
        jQuery(document).ready(function() {
            $('.select2auto').select2();
        });
    </script>
{% endblock %}
