<div class="zonecom iteration">
    <div>
     <a href="{{ path('app_show_garden', {nickname: c.user.nickname}) }}">
        <img src="{{ vich_uploader_asset(c.user.avatar) }}" alt="Image" class="img-circle" width="15" height="15">
    </a>
    <a class="nom_user" href="{{ path('app_show_garden', {nickname: c.user.nickname}) }}"><strong>{{ c.user.nickname }} </strong></a>
        <span class="dateheure">
            le {{ c.dateHeureCreation|date("d/m/y \à H:m")}}
        </span>
    </div> 
    <span>{{ c.contenu }}</span>
</div>    