{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

 {% block stylesheets %}
     {{ parent() }}
 {% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('style') }}
{% endblock %}

{% block body %} 
<div class="wrapper text-center">
    {% set route_name = app.request.attributes.get('_route') %}
    <div class="row cadre_transparent">
        {% if is_granted('ROLE_USER') %}
            <a class="mdl-button add_item mdl-button--raised mdl-button--vert mdl-button--colored" href="{{ path('home_photo') }}">
                <img class="img-responsive" src="{{ asset('images/prec.png') }}" alt="Image" width="32" height="32">
                Retour à l'accueil </a>
        {% endif %}
    </div>
    {% if flux.panier is not null %}
        {% if flux.panier.plants is not empty or flux.panier.recoltes is not empty %}
            <div class="row cadre_blanc">
                {{ include('home/flux/index_panier.html.twig', { 'panier': flux.panier}) }}
            </div>
        {% endif %}
    {% elseif flux.post is not null%}
        <div class="row cadre_blanc">
            {{ include('home/flux/index_post.html.twig', { 'post': flux.post}) }}
        </div>
    {% endif %}

    </div>
</div>
        {% endblock %}
