{% if panier.recoltes is not empty %}
    <table class="gg-table">
        <thead>
            <tr>
                <th class="th-rose">🌿 Récolte</th>
                <th>Qté</th>
                <th>Méthode</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for rec in panier.recoltes %}
                {% if rec.createdat|date('Y-m-d') == date|date('Y-m-d') %}
                    <tr>
                        <td>
                            <img src="{{ asset('images/icon/' ~ rec.consommable.iconlien) }}" alt="Image" width="18" height="18">
                            &nbsp;{{ rec.consommable.description }}
                        </td>
                        <td>{{ rec.quantity }}<small><i>kg</i></small></td>
                        <td><small><i>{{ rec.methode.nom }}</i></small></td>
                        <td><small>{{ rec.createdat|date("d/m/Y") }}</small></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <hr class="gg-divider"/>
{% endif %}

{% if panier.plants is not empty %}
    <table class="gg-table">
        <thead>
            <tr>
                <th class="th-vert">🌱 Plantation</th>
                <th>Qté</th>
                <th>État</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for pl in panier.plants %}
                {% if pl.createdat|date('Y-m-d') == date|date('Y-m-d') %}
                    <tr>
                        <td>
                            <img src="{{ asset('images/icon/' ~ pl.consommable.iconlien) }}" alt="Image" width="18" height="18">
                            &nbsp;{{ pl.consommable.description }}
                        </td>
                        <td>{{ pl.quantite }}</td>
                        <td><small><i>{{ pl.state.nom }}</i></small></td>
                        <td><small>{{ pl.createdat|date("d/m/Y") }}</small></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <hr class="gg-divider"/>
{% endif %}
