
    <details class="specifications" id="statistics">
        <div class="row fond">
                
{% set vide = 0 %}
{% if fluxes is not empty %}
        {% for flux in fluxes %}
            {% if flux.panier is not null %}
                {% if flux.panier.plants is not empty or flux.panier.recoltes is not empty %}
                    <p>
                        {{ include('carnet/displayPanier.html.twig', { 'panier': flux.panier, 'date' : date}) }}
                    </p>
                {% endif %}
            {% elseif flux.post is not null%}
                <p>
                    {{ include('carnet/displayPost.html.twig', { 'post': flux.post}) }}
                </p>
            {% elseif flux.achat is not null%}
                    {{ include('carnet/displayAchat.html.twig', { 'achat' : flux.achat}) }}
            {% endif %}
        {% endfor %}
        
    {% set vide = 1 %}

{% endif %}

{% if vide == 0 %}
    <p><i>Aucune activité aujourd'hui!</i></p>
{% endif %}

        </div>
        <summary class="row cadre_blanc">
            <span class="deroulfloatl">&nbsp;<img src="{{ asset('images/aujourdhui.png') }}" alt="Image" width="30" height="30">&nbsp;&nbsp; {{ date_calendrier }}</span>
            <span class="deroulfloatr"><span class="chevron glyphicon glyphicon-menu-right"> </span>&nbsp;</span>
        </summary>
    </details>



