{% extends 'base.html.twig' %}

{% block title %}Ajout amis{% endblock %}

{% block body %}
<div class="row" style="background-color: white;border-radius: 1em;padding: 1em 0.5em;margin-bottom: 0.5em;">
    <div class="wrapper" style="text-align: left">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <p>
            <a href="{{ path("garden") }}">
                <button class="mdl-button mdl-button--raised mdl-button--vert mdl-button--colored">
                    <img class="img-responsive" src="{{ asset('images/prec.png') }}" alt="Image" width="32" height="32">
                    Retour à mon jardin
                </button>
            </a>
        </p>
        <br/><br/>

        {% set values = [] %}
        {% for friend in amis %}
            {% set values = values|merge([friend.userFollowed.nickname]) %}
        {% endfor %}

    <table class="table">
        {% for user in users %}
            {% if user.nickname not in values %}
            <tr>
                <th>
                    <a href="{{ path('app_show_garden', {nickname: user.nickname}) }}">
                        <img src="{{ vich_uploader_asset(user.avatar) }}" alt="Image" class="img-circle" width="50" height="50">
                    </a>
                    <a class="nom_user" href="{{ path('app_show_garden', {nickname: user.nickname}) }}">{{ user.nickname }} </a>
                </th>
                <td style="text-align: right">
                    <input type="checkbox" name="friendzone[]" value="{{ user.id }}">
                </td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
    <span style="text-align: center">
        {{ form_end(form) }}
    </span>
    <br/>
    </div>
</div>

{% endblock %}

