{% extends 'base.html.twig' %}

{% block title %}Potager{% endblock %}

 {% block stylesheets %}
     {{ parent() }}
 {% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('style') }}
    {{ encore_entry_script_tags('print') }}
{% endblock %}

{% block body %}
    {% set route_name = app.request.attributes.get('_route') %}
<div class="wrapper text-center">
    <div class="row cadre_blanc_no_border" >
        <div class="entete_user">
            <h5 class="colorrose">{{user.nickname}}</h5>
            {% if user.avatar %}
                <a href="javascript:display_photo('{{ vich_uploader_asset(user.avatar) }}','500','500','Photo de profil')">
                    <h1><img src="{{ vich_uploader_asset(user.avatar) }}" alt="Image" class="img-circle" width="80" height="80"></h1>
                </a>
            {% endif %}
        </div>
        <div class="entete_stat">
            {{ include('garden/apercu.html.twig', { 'r_byuser' : r_byuser, 'fluxAchats' : fluxAchats, 'calories' : calories, 'user' : user }) }}
        </div>
    </div>

    {% if app.user != user %}
    <div class="stars {{ amis == 1 ? 'rating_no' : 'rating' }}">
        <a href="{{ path('ami',{'id': user.id}) }}"
           data-user="{{ user.id }}"
           class="suivis">
            <i class="fa {{ amis == 1 ? 'fa-star gold' : 'fa-star' }}"> <span class="infosuiveur">{{ amis == 1 ? 'Jardinier suivi' : 'Suivre ce jardinier' }}</span></i>
        </a>
    </div>
    {% endif %}

    <div class="wrapper text-center">
        <div class="row cadre_blanc_no_border" >
      
            <p><b class="colorgris">Région  :</b> {{ garden.region.countryCode}} ({{ garden.region.name}})</p>
            <p><b class="colorvert">Surface  :</b> {{ garden.surface.nom}} ({{ garden.surface.metre}}) => <b class="colorrose"> Objectif de récolte:</b> {{ garden.surface.objectif}} kg</p>
            <p><b class="colorvert">Terre : </b> Sable : {{ garden.sable}}% / Argile : {{ garden.argile}}% /  Calcaire :  {{ garden.calcaire}}% / Limon : {{ garden.limon}}%</p>
            <p><b class="colorvert">Surface sous serre  :</b> {{ garden.serre}} m2 </p>
            <p><b class="colorviolet">Pluviométrie :</b> Minimun :  {{ garden.minpluvio}} / Maximum : {{ garden.maxpluvio}}</p>
            <p><b class="colorviolet">Litres cuves  :</b> {{ garden.cuve}} L </p>
            <p><b class="colorrose">Production Moyenne Annuelle  :</b> {{ garden.moyenneprod}} KG</p>
        </div>
    </div>
    <div id="content"> 
        {{ include('garden/synthese.html.twig', {'p_byuser' : p_byuser, 'r_byuser' : r_byuser, 'user' : user }) }}
        {{ include('garden/graphs.html.twig', {'p_byuser' : p_byuser, 'r_byuser' : r_byuser, 'chart' : chart, 'chart_don_r' : chart_don_r, 'user' : user}) }}
    </div>
    <br/>

        <br/>

        {% set classe = "row cadre_blanc" %}
        {{ include('garden/amis.html.twig', { 'amis': amis , 'user' : user, 'classe' : classe})}}
        <br/>
            <div class="row cadre_blanc_no_border">
                <a href="{{'whatsapp://send?text=http://www.GreenGarden.fr/bou/' ~ user.nickname }}"> Partager le jardin</a>
            </div>
        <div class="row cadre_blanc_no_border">
        <img src="{{ asset('images/meteo.png') }}" alt="Image" width="50" height="50">
        <br/>
     
            <a target="_blank" href='https://meteofrance.com/previsions-meteo-france/' >
              Consultez la météo locale <br/>
            </a>
    </div>

</div>
{% endblock %}





