

    {% set lUser = 0 %}
     {% for l in flux.likes %}
         {% if l.user == app.user %}
             {% set lUser = 1 %}
         {% endif %}
     {% endfor %}
     
    {{ include('home/flux/index_like.html.twig', { 'commentaires': flux.commentaires , 'likes': flux.likes, 'flux_id' : flux.id, 'flux': flux }) }}
    <div class="zonecom iteration" >
        <span class="likecolor nbrlikes-{{flux.id}}">
            <small>{% trans with {'likes': flux.likes.count} %}number_of_likes{% endtrans %}</small>
        </span>
    </div>
    {{ include('home/flux/index_com.html.twig', { 'commentaires': flux.commentaires , 'likes': flux.likes, 'flux_id' : flux.id, 'flux': flux }) }}

    {% if app.user.id == flux.user.id %}
        <table class="table noborder">
            <tr>
                <th>
                    <a href="{{ path('shared_flux', {id: flux.id}) }}">
                        {% if flux.shared == 1 %}
                            <button class="mdl-button-rond mdl-button--raised mdl-button--bleufonce mdl-button--colored">
                                Archiver
                            </button>
                        {% else %}
                            <button class="mdl-button-rond mdl-button--raised mdl-button--vert mdl-button--colored">
                                Publier
                            </button>
                        {% endif %}
                    </a>
                </th>
                {#
                <th>
                    <a href="{{ path('supp_flux', {id: flux.id}) }}">
                        <button class="mdl-button-rond mdl-button--raised mdl-button--rose mdl-button--colored">
                            Supprimer
                        </button>
                    </a>
                </th>
                #}
            </tr>
        </table>
    {% endif %}
    <hr>
